SELECT	[Company]
		,[RecordType]
		,[CustomerVendor]
		,[ApplyFrom] AS CreditMemo
		,[ApplyTo] AS DocumentNumber
		,[ApplyAmount] AS DocumentAmount
FROM	[Integrations].[dbo].[Integrations_ApplyTo]
WHERE	ApplyFrom IN ('TIP0417181130','TIP0417181134','TIP0417181240','TIP0417181248','TIP0417181255','TIP0417181259','TIP0426180946','TIP0501181704','TIP0504181046','TIP0518181422','TIP0518181500','TIP0621181325')
		AND ApplyAmount < 0
ORDER BY 
		[ApplyFrom], 
		[RecordType], 
		[ApplyTo]

SELECT	[ApplyFrom],
		SUM(IIF(ApplyAmount > 0, ApplyAmount, 0)) AS TotalAmount
FROM	[Integrations].[dbo].[Integrations_ApplyTo]
WHERE	ApplyFrom IN ('TIP0417181130','TIP0417181134','TIP0417181240','TIP0417181248','TIP0417181255','TIP0417181259','TIP0426180946','TIP0501181704','TIP0504181046','TIP0518181422','TIP0518181500','TIP0621181325')
		AND ApplyAmount > 0
GROUP BY 
		[ApplyFrom]
UNION
SELECT	RTRIM(ApplyFrom) + 'D' AS ApplyFrom,
		SUM(IIF(ApplyAmount < 0, ABS(ApplyAmount), 0)) AS TotalAmount
FROM	[Integrations].[dbo].[Integrations_ApplyTo]
WHERE	ApplyFrom IN ('TIP0417181130','TIP0417181134','TIP0417181240','TIP0417181248','TIP0417181255','TIP0417181259','TIP0426180946','TIP0501181704','TIP0504181046','TIP0518181422','TIP0518181500','TIP0621181325')
		AND ApplyAmount < 0
GROUP BY 
		[ApplyFrom]