/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 2000 [ObjectType]
      ,[ObjectID]
      ,[PropertyKey]
      ,[PropertyValue]
      ,[ReferenceObjectType]
      ,[ReferenceObjectID]
      ,[KeyGroup1]
      ,[KeyGroup2]
      ,[KeyGroup3]
      ,[KeyGroup4]
      ,[KeyGroup5]
      ,[KeyGroup6]
      ,[KeyGroup7]
      ,[KeyGroup8]
      ,[KeyGroup9]
      ,[KeyGroup10]
      ,[ExtendedPropertyID]
      ,[RemoteID]
  FROM [fb].[dbo].[ExtendedProperties]
  WHERE	PropertyKey = 'GL_Code_Entry'
		and objectid in (3915, 185823)