if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[IMC_401KREP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[IMC_401KREP]
GO

CREATE TABLE IMC_401KREP (
	[TITLE] [char] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PLANNUMBER] [char] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SUBCOMPANYNBR] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PARTTIME] [char] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ADDRESS] [varchar] (120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ADDRESS1] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ADDRESS2] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CITY] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[STATE] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ZIPCODE] [char] (12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EMAIL] [varchar] (75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MARITALSTATUS] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[REHIREDATE] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[YEARSOFSERVICE] [numeric] (19, 5) NULL ,
	[PAYROLLENDINGDATE] [smalldatetime] NULL ,
	[PRTXEMPCONTRIB] [numeric] (19, 5) NULL ,
	[PRTXEMPCONTRIBYTD] [numeric] (19, 5) NULL ,
	[PRTXEMPCATCHUP] [decimal] (19, 5) NULL ,
	[PRTXEMPCATCHUPYTD] [decimal] (19, 5) NULL ,
	[EMPLOYERNONMATCHING] [decimal] (19, 5) NULL ,
	[EMPLOYERSAFEHARBORMORNM] [decimal] (19, 5) NULL ,
	[EMPLOYEELOANPAY] [decimal] (19, 5) NULL ,
	[ROT401KEMP] [decimal] (19, 5) NULL ,
	[ROT401KCATCHUP] [decimal] (19, 5) NULL ,
	[QUALIFIEDNONELECTIVE] [decimal] (19, 5) NULL ,
	[AFTERTAXEMPLOYEE] [decimal] (19, 5) NULL ,
	[LOANPAYOFF] [decimal] (19, 5) NULL ,
	[PLANCOMPENSATION] [decimal] (19, 5) NULL ,
	[ANNUALCOMPENSATION] [decimal] (19, 5) NULL ,
	[EXCLUDEDCOMPENSATION] [decimal] (19, 5) NULL ,
	[EMPLOYID] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DEPRTMNT] [varchar] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LASTNAME] [varchar] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FNAMEMI] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SOCSCNUM] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[HIREDATE] [datetime] NULL ,
	[YTDHOURS] [decimal](19, 5) NULL ,
	[EARNINGS] [decimal](19, 5) NULL ,
	[DEDNCODE] [varchar] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DEDNAMNT] [decimal](19, 5) NULL ,
	[DEDNPERC] [decimal](19, 5) NULL ,
	[EMPLOYERMATCH] [decimal](19, 5) NULL ,
	[EMPLOYERMATCHOK] [char] (15) NULL ,
	[BENECODE] [varchar] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BENEAMNT] [decimal](19, 5) NULL ,
	[BENEPERC] [decimal](19, 5) NULL ,
	[LOANCODE] [varchar] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LOANAMNT] [decimal](19, 5) NULL ,
	[LOANPERC] [decimal](19, 5) NULL ,
	[STARTDATE] [datetime] NULL ,
	[ENDDATE] [datetime] NULL ,
	[TERMDATE] [datetime] NULL ,
	[USERID] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GENDER] [int] NULL ,
	[BRTHDATE] [datetime] NULL
) ON [PRIMARY]
GO

-- select gender from UPR00100