INSERT INTO Invoices
           ([inv_no]
           ,[sbt_no]
           ,[acct_no]
           ,[inv_date]
           ,[inv_total]
           ,[inv_type]
           ,[inv_est]
           ,[inv_bal]
           ,[last_paymt]
           ,[date_paid]
           ,[last_paid]
           ,[inv_mech]
           ,[inv_time]
           ,[check_no]
           ,[unit_type]
           ,[container]
           ,[chassis]
           ,[genset_no]
           ,[due_date]
           ,[labor_hour]
           ,[labor]
           ,[mech_hours]
           ,[parts]
           ,[tirerpl]
           ,[gallons]
           ,[fueltax_nh]
           ,[fueltax_h]
           ,[tirerpr]
           ,[size]
           ,[sale_tax]
           ,[sale_tax1]
           ,[sale_tax2]
           ,[pur_price]
           ,[unit_f]
           ,[tir_no]
           ,[storage]
           ,[inspec]
           ,[lifts]
           ,[tractor]
           ,[reef_ser]
           ,[reef_mod]
           ,[reef_make]
           ,[gen_ser]
           ,[gen_mod]
           ,[reef_hours]
           ,[gen_hours]
           ,[driver]
           ,[chg_date]
           ,[chg_time]
           ,[was_sent]
           ,[inv_batch]
           ,[est_batch]
           ,[inv_printd]
           ,[est_printd]
           ,[glarec]
           ,[fhwa]
           ,[cedex_size]
           ,[cedex_cond]
           ,[inv_format]
           ,[unitofmesu]
           ,[wrk_printd]
           ,[best_inspe]
           ,[cest_inspe]
           ,[edi_sent]
           ,[edi_time]
           ,[edi_trans]
           ,[cdex_revis]
           ,[approval]
           ,[cdex_lesor]
           ,[cdex_lesee]
           ,[cdex_advic]
           ,[tax_owner]
           ,[tax_cust]
           ,[tot_owner]
           ,[tot_cust]
           ,[labor_ownr]
           ,[parts_cust]
           ,[labor_cust]
           ,[parts_ownr]
           ,[shipper]
           ,[carrier]
           ,[est_date]
           ,[labor_dpp]
           ,[parts_dpp]
           ,[tot_dpp]
           ,[tax_dpp]
           ,[labor_spec]
           ,[parts_spec]
           ,[tot_spec]
           ,[tax_spec]
           ,[cdex_dpp]
           ,[b_surveyd]
           ,[c_surveyd]
           ,[lift_loads]
           ,[stor_loads]
           ,[b_off_leas]
           ,[depot_loc]
           ,[doc_mpic1]
           ,[doc_mpic2]
           ,[doc_mpic3]
           ,[cedxonhir]
           ,[cedxhirloc]
           ,[cedxdppexl]
           ,[cedxapvdat]
           ,[cdexappart]
           ,[sbt_acctno]
           ,[po_numb]
           ,[cdex_remk]
           ,[pti_date]
           ,[stk_upd]
           ,[tot_third]
           ,[lab_third]
           ,[par_third]
           ,[tax_third]
           ,[cdxlrate]
           ,[fhwaappv]
           ,[eq_datein]
           ,[exp_date]
           ,[newdpid]
           ,[cdexautamt]
           ,[port_type]
           ,[lab_stand]
           ,[lab_overt]
           ,[lab_dblot]
           ,[lab_flext]
           ,[lab_parts]
           ,[lab_fore]
           ,[lab_forot]
           ,[week_end]
           ,[estatus]
           ,[booking_no]
           ,[vessel]
           ,[voyage]
           ,[mfg]
           ,[mfg_date]
           ,[mrsk_cause]
           ,[rep_date]
           ,[workorder]
           ,[str_sdate]
           ,[str_edate]
           ,[was_est]
           ,[idcs_type]
           ,[eng_mod]
           ,[eng_ser]
           ,[unit_ser]
           ,[alt_ser]
           ,[ctrl_ser]
           ,[mrsk_mode]
           ,[cdexapvrm]
           ,[inv_remk]
           ,[stor_com]
           ,[rep_code]
           ,[vin_no]
           ,[aar_rmp]
           ,[aar_rcty]
           ,[aar_rst]
           ,[lic_no]
           ,[b_deliv_no]
           ,[cdxcapvdat]
           ,[cdecautamt]
           ,[estimator]
           ,[rep_shop]
           ,[rep_time]
           ,[temp_set]
           ,[vent_set]
           ,[vent_pnt]
           ,[humd_set]
           ,[cld_tmt]
           ,[cnt_atm]
           ,[entry_usr]
           ,[wo_ctr]
           ,[edi_type])
select * from Invoices_Copy