if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD001]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD001]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD002]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD002]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD003]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD003]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD004]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD004]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD005]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD005]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD006]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD006]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD007]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD007]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD008]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD008]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD009]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD009]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD010]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD010]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD011]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD011]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD012]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD012]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD013]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD013]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD014]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD014]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD015]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD015]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD016]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD016]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD018]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD018]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD019]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD019]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD020]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD020]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD021]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD021]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD022]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD022]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD023]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD023]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD024]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD024]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD025]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD025]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD026]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD026]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD027]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD027]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD028]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD028]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD029]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD029]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD030]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD030]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD031]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD031]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD032]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD032]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RVLPD033]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[RVLPD033]
GO

CREATE TABLE [dbo].[RVLPD001] (
	[KEYNUMBR] [smallint] NOT NULL ,
	[EnablePmntDocRM] [tinyint] NOT NULL ,
	[EnablePmntDocPM] [tinyint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD002] (
	[KEYNUMBR] [smallint] NOT NULL ,
	[RCVDPMNTDOCGLACCT] [int] NOT NULL ,
	[ASSESSPMNTDOCGLACCTIDX] [int] NOT NULL ,
	[DISCPMNTDOCGLACCTIDX] [int] NOT NULL ,
	[COLLECTPMNTDOCGLACCT] [int] NOT NULL ,
	[NSFPMNTDOCGLACCT] [int] NOT NULL ,
	[SETTLEPMNTDOCGLACCT] [int] NOT NULL ,
	[AssessGLEntryLevel] [smallint] NOT NULL ,
	[DiscGLEntryLevel] [smallint] NOT NULL ,
	[CollectGLEntryLevel] [smallint] NOT NULL ,
	[SettleGLEntryLevel] [smallint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD003] (
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PmntDocDescription] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SettleBeforeDueDate] [tinyint] NOT NULL ,
	[Discountable] [tinyint] NOT NULL ,
	[Collectable] [tinyint] NOT NULL ,
	[DeferredDisc] [tinyint] NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[USRSTRG1] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG2] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG3] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG4] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG5] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG6] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRDATE1] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRDATE2] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRCURR1] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRCURR2] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRBACT1] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRBACT2] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ReqUserDefnStr1] [tinyint] NOT NULL ,
	[ReqUserDefnStr2] [tinyint] NOT NULL ,
	[ReqUserDefnStr3] [tinyint] NOT NULL ,
	[ReqUserDefnStr4] [tinyint] NOT NULL ,
	[ReqUserDefnStr5] [tinyint] NOT NULL ,
	[ReqUserDefnStr6] [tinyint] NOT NULL ,
	[ReqUserDefnDate1] [tinyint] NOT NULL ,
	[ReqUserDefnDate2] [tinyint] NOT NULL ,
	[ReqUserDefnCurr1] [tinyint] NOT NULL ,
	[ReqUserDefnCurr2] [tinyint] NOT NULL ,
	[ReqUserDefnBankAcct1] [tinyint] NOT NULL ,
	[ReqUserDefnBankAcct2] [tinyint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD004] (
	[CUSTNMBR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[STMTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD005] (
	[CUSTNMBR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CheckbookFrom] [smallint] NOT NULL ,
	[RCVDPMNTDOCGLACCT] [int] NOT NULL ,
	[ASSESSPMNTDOCGLACCTIDX] [int] NOT NULL ,
	[DISCPMNTDOCGLACCTIDX] [int] NOT NULL ,
	[COLLECTPMNTDOCGLACCT] [int] NOT NULL ,
	[NSFPMNTDOCGLACCT] [int] NOT NULL ,
	[SETTLEPMNTDOCGLACCT] [int] NOT NULL ,
	[PmntDocGLAcctFrom] [smallint] NOT NULL ,
	[MaxPmntDocAmt] [numeric](19, 5) NOT NULL ,
	[MaxPmntDocAmtFrom] [smallint] NOT NULL ,
	[ExceedPmntDocPassword] [char] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[STMTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD006] (
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NextPmntDocNum] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[RCVDPMNTDOCGLACCT] [int] NOT NULL ,
	[ASSESSPMNTDOCGLACCTIDX] [int] NOT NULL ,
	[DISCPMNTDOCGLACCTIDX] [int] NOT NULL ,
	[COLLECTPMNTDOCGLACCT] [int] NOT NULL ,
	[NSFPMNTDOCGLACCT] [int] NOT NULL ,
	[SETTLEPMNTDOCGLACCT] [int] NOT NULL ,
	[RcvdPmntDocCheckbook] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[AssessPmntDocCheckbook] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DISCPMNTDOCCHECKBOOK] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CollectPmntDocCheckbook] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NSFPmntDocCheckbook] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SettlePmntDocCheckbook] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MaxPmntDocAmt] [numeric](19, 5) NOT NULL ,
	[ExceedPmntDocPassword] [char] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DuplicatePmntDocNum] [tinyint] NOT NULL ,
	[OverridePmntDocNum] [tinyint] NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD007] (
	[RMDTYPAL] [smallint] NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CUSTNMBR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKNMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DCSTATUS] [smallint] NOT NULL ,
	[BCHSOURC] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD008] (
	[RMDTYPAL] [smallint] NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CUSTNMBR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CUSTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[STMTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKNMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PDOCSTRM] [smallint] NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCDATE] [datetime] NOT NULL ,
	[DUEDATE] [datetime] NOT NULL ,
	[DOCAMNT] [numeric](19, 5) NOT NULL ,
	[ORDOCAMT] [numeric](19, 5) NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[TRXDSCRN] [char] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[VALSTRG1] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG2] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG3] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG4] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG5] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG6] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALDATE1] [datetime] NOT NULL ,
	[VALDATE2] [datetime] NOT NULL ,
	[VALCURR1] [numeric](19, 5) NOT NULL ,
	[VALCURR2] [numeric](19, 5) NOT NULL ,
	[VALBACT1] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT2] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[UPDATED] [tinyint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD009] (
	[RMDTYPAL] [smallint] NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CUSTNMBR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CUSTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[STMTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKNMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PDOCSTRM] [smallint] NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCDATE] [datetime] NOT NULL ,
	[DUEDATE] [datetime] NOT NULL ,
	[DOCAMNT] [numeric](19, 5) NOT NULL ,
	[ORDOCAMT] [numeric](19, 5) NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[TRXDSCRN] [char] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[VALSTRG1] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG2] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG3] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG4] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG5] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG6] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALDATE1] [datetime] NOT NULL ,
	[VALDATE2] [datetime] NOT NULL ,
	[VALCURR1] [numeric](19, 5) NOT NULL ,
	[VALCURR2] [numeric](19, 5) NOT NULL ,
	[VALBACT1] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT2] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MKDBYUSR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MKTOPROC] [tinyint] NOT NULL ,
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CMRecordNumber] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD010] (
	[RMDTYPAL] [smallint] NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CUSTNMBR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CUSTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[STMTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKNMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PDOCSTRM] [smallint] NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCDATE] [datetime] NOT NULL ,
	[DUEDATE] [datetime] NOT NULL ,
	[DOCAMNT] [numeric](19, 5) NOT NULL ,
	[ORDOCAMT] [numeric](19, 5) NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[TRXDSCRN] [char] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[VALSTRG1] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG2] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG3] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG4] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG5] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG6] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALDATE1] [datetime] NOT NULL ,
	[VALDATE2] [datetime] NOT NULL ,
	[VALCURR1] [numeric](19, 5) NOT NULL ,
	[VALCURR2] [numeric](19, 5) NOT NULL ,
	[VALBACT1] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT2] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MKDBYUSR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MKTOPROC] [tinyint] NOT NULL ,
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CMRecordNumber] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD011] (
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[OrigPmntDocStatus] [smallint] NOT NULL ,
	[ORICBOOK] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DESCBOOK] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[MCSTRUCT_1] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MCSTRUCT_2] [smallint] NOT NULL ,
	[MCSTRUCT_3] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MCSTRUCT_4] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MCSTRUCT_5] [numeric](19, 7) NOT NULL ,
	[MCSTRUCT_6] [datetime] NOT NULL ,
	[MCSTRUCT_7] [smallint] NOT NULL ,
	[MCSTRUCT_8] [datetime] NOT NULL ,
	[MCSTRUCT_9] [smallint] NOT NULL ,
	[MCSTRUCT_10] [smallint] NOT NULL ,
	[MCSTRUCT_11] [smallint] NOT NULL ,
	[MCSTRUCT_12] [datetime] NOT NULL ,
	[MCSTRUCT_13] [numeric](19, 7) NOT NULL ,
	[MCSTRUCT_14] [smallint] NOT NULL ,
	[TRXDATE] [datetime] NOT NULL ,
	[PSTGDATE] [datetime] NOT NULL ,
	[BANKACCT] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[COMMAMNT] [numeric](19, 5) NOT NULL ,
	[ACTINDX] [int] NOT NULL ,
	[REMTSTAT] [smallint] NOT NULL ,
	[NUMOFTRX] [int] NOT NULL ,
	[FUNCTAMT] [numeric](19, 5) NOT NULL ,
	[ORIGAMT] [numeric](19, 5) NOT NULL ,
	[CMRecordNumber] [numeric](19, 5) NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD012] (
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[LNITMSEQ] [int] NOT NULL ,
	[RGEAVAIL] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[RNGE] [char] (133) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CARRY] [smallint] NOT NULL ,
	[SETTED] [tinyint] NOT NULL ,
	[SETTEDBY] [smallint] NOT NULL ,
	[FIELDTYPE] [int] NOT NULL ,
	[LOWCUR] [numeric](19, 5) NOT NULL ,
	[HIGHCUR] [numeric](19, 5) NOT NULL ,
	[LOWDATE] [datetime] NOT NULL ,
	[HIGHDATE] [datetime] NOT NULL ,
	[LOWSTR] [char] (133) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[HIGHSTR] [char] (133) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT1] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT2] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[STADTTOK] [smallint] NOT NULL ,
	[ENDDTTOK] [smallint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD013] (
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[RMDTYPAL] [smallint] NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD014] (
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SEQNUMBR] [int] NOT NULL ,
	[DISTTYPE] [smallint] NOT NULL ,
	[DSTINDX] [int] NOT NULL ,
	[POSTED] [tinyint] NOT NULL ,
	[POSTEDDT] [datetime] NOT NULL ,
	[DEBITAMT] [numeric](19, 5) NOT NULL ,
	[CRDTAMNT] [numeric](19, 5) NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[ORDBTAMT] [numeric](19, 5) NOT NULL ,
	[ORCRDAMT] [numeric](19, 5) NOT NULL ,
	[DistRef] [char] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DCSTATUS] [smallint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD015] (
	[INQID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SORTBY] [smallint] NOT NULL ,
	[PmntDocIDFrom] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PmntDocIDTo] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[WORKCB1] [tinyint] NOT NULL ,
	[OPEN1] [tinyint] NOT NULL ,
	[HISTORY] [tinyint] NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD016] (
	[USERID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NonUsedFieldsViewMode] [smallint] NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD018] (
	[KEYNUMBR] [smallint] NOT NULL ,
	[PayPmntDocGLAcctIdx] [int] NOT NULL ,
	[GivePmntDocGLAcctIdx] [int] NOT NULL ,
	[PayGLEntryLevel] [smallint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD019] (
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PmntDocDescription] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PayableBeforeDueDate] [tinyint] NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[USRSTRG1] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG2] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG3] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG4] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG5] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRSTRG6] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRDATE1] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRDATE2] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRCURR1] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRCURR2] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRBACT1] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USRBACT2] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ReqUserDefnStr1] [tinyint] NOT NULL ,
	[ReqUserDefnStr2] [tinyint] NOT NULL ,
	[ReqUserDefnStr3] [tinyint] NOT NULL ,
	[ReqUserDefnStr4] [tinyint] NOT NULL ,
	[ReqUserDefnStr5] [tinyint] NOT NULL ,
	[ReqUserDefnStr6] [tinyint] NOT NULL ,
	[ReqUserDefnDate1] [tinyint] NOT NULL ,
	[ReqUserDefnDate2] [tinyint] NOT NULL ,
	[ReqUserDefnCurr1] [tinyint] NOT NULL ,
	[ReqUserDefnCurr2] [tinyint] NOT NULL ,
	[ReqUserDefnBankAcct1] [tinyint] NOT NULL ,
	[ReqUserDefnBankAcct2] [tinyint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD020] (
	[VENDORID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD021] (
	[VENDORID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CheckbookFrom] [smallint] NOT NULL ,
	[GivePmntDocGLAcctIdx] [int] NOT NULL ,
	[PayPmntDocGLAcctIdx] [int] NOT NULL ,
	[PmntDocGLAcctFrom] [smallint] NOT NULL ,
	[MaxPmntDocAmt] [numeric](19, 5) NOT NULL ,
	[MaxPmntDocAmtFrom] [smallint] NOT NULL ,
	[ExceedPmntDocPassword] [char] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[STMTNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD022] (
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NextPmntDocNum] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[GivePmntDocGLAcctIdx] [int] NOT NULL ,
	[PayPmntDocGLAcctIdx] [int] NOT NULL ,
	[GivePmntDocCheckbook] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PayPmntDocCheckbook] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MaxPmntDocAmt] [numeric](19, 5) NOT NULL ,
	[ExceedPmntDocPassword] [char] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DuplicatePmntDocNum] [tinyint] NOT NULL ,
	[OverridePmntDocNum] [tinyint] NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD023] (
	[CNTRLNUM] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CNTRLTYP] [smallint] NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DCSTATUS] [smallint] NOT NULL ,
	[VENDORID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[BCHSOURC] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD024] (
	[VENDORID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VENDNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VNDCHKNM] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCTYPE] [smallint] NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKNMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PDOCSTPM] [smallint] NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCDATE] [datetime] NOT NULL ,
	[DUEDATE] [datetime] NOT NULL ,
	[DOCAMNT] [numeric](19, 5) NOT NULL ,
	[ORDOCAMT] [numeric](19, 5) NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[TRXDSCRN] [char] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[VALSTRG1] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG2] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG3] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG4] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG5] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG6] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALDATE1] [datetime] NOT NULL ,
	[VALDATE2] [datetime] NOT NULL ,
	[VALCURR1] [numeric](19, 5) NOT NULL ,
	[VALCURR2] [numeric](19, 5) NOT NULL ,
	[VALBACT1] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT2] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[UPDATED] [tinyint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD025] (
	[VENDORID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VENDNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VNDCHKNM] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCTYPE] [smallint] NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKNMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PDOCSTPM] [smallint] NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCDATE] [datetime] NOT NULL ,
	[DUEDATE] [datetime] NOT NULL ,
	[DOCAMNT] [numeric](19, 5) NOT NULL ,
	[ORDOCAMT] [numeric](19, 5) NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[TRXDSCRN] [char] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[VALSTRG1] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG2] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG3] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG4] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG5] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG6] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALDATE1] [datetime] NOT NULL ,
	[VALDATE2] [datetime] NOT NULL ,
	[VALCURR1] [numeric](19, 5) NOT NULL ,
	[VALCURR2] [numeric](19, 5) NOT NULL ,
	[VALBACT1] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT2] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MKDBYUSR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MKTOPROC] [tinyint] NOT NULL ,
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD026] (
	[VENDORID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VENDNAME] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VNDCHKNM] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCTYPE] [smallint] NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CHEKNMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PDOCSTPM] [smallint] NOT NULL ,
	[CHEKBKID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCDATE] [datetime] NOT NULL ,
	[DUEDATE] [datetime] NOT NULL ,
	[DOCAMNT] [numeric](19, 5) NOT NULL ,
	[ORDOCAMT] [numeric](19, 5) NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[TRXDSCRN] [char] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[VALSTRG1] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG2] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG3] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG4] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG5] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALSTRG6] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALDATE1] [datetime] NOT NULL ,
	[VALDATE2] [datetime] NOT NULL ,
	[VALCURR1] [numeric](19, 5) NOT NULL ,
	[VALCURR2] [numeric](19, 5) NOT NULL ,
	[VALBACT1] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT2] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MKDBYUSR] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MKTOPROC] [tinyint] NOT NULL ,
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD027] (
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PMTDOCID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[OrigPmntDocStatus] [smallint] NOT NULL ,
	[ORICBOOK] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DESCBOOK] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[MCSTRUCT_1] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MCSTRUCT_2] [smallint] NOT NULL ,
	[MCSTRUCT_3] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MCSTRUCT_4] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MCSTRUCT_5] [numeric](19, 7) NOT NULL ,
	[MCSTRUCT_6] [datetime] NOT NULL ,
	[MCSTRUCT_7] [smallint] NOT NULL ,
	[MCSTRUCT_8] [datetime] NOT NULL ,
	[MCSTRUCT_9] [smallint] NOT NULL ,
	[MCSTRUCT_10] [smallint] NOT NULL ,
	[MCSTRUCT_11] [smallint] NOT NULL ,
	[MCSTRUCT_12] [datetime] NOT NULL ,
	[MCSTRUCT_13] [numeric](19, 7) NOT NULL ,
	[MCSTRUCT_14] [smallint] NOT NULL ,
	[TRXDATE] [datetime] NOT NULL ,
	[PSTGDATE] [datetime] NOT NULL ,
	[BANKACCT] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[COMMAMNT] [numeric](19, 5) NOT NULL ,
	[ACTINDX] [int] NOT NULL ,
	[REMTSTAT] [smallint] NOT NULL ,
	[NUMOFTRX] [int] NOT NULL ,
	[FUNCTAMT] [numeric](19, 5) NOT NULL ,
	[ORIGAMT] [numeric](19, 5) NOT NULL ,
	[CMRecordNumber] [numeric](19, 5) NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD028] (
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[LNITMSEQ] [int] NOT NULL ,
	[RGEAVAIL] [char] (65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[RNGE] [char] (133) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CARRY] [smallint] NOT NULL ,
	[SETTED] [tinyint] NOT NULL ,
	[SETTEDBY] [smallint] NOT NULL ,
	[FIELDTYPE] [int] NOT NULL ,
	[LOWCUR] [numeric](19, 5) NOT NULL ,
	[HIGHCUR] [numeric](19, 5) NOT NULL ,
	[LOWDATE] [datetime] NOT NULL ,
	[HIGHDATE] [datetime] NOT NULL ,
	[LOWSTR] [char] (133) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[HIGHSTR] [char] (133) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT1] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VALBACT2] [char] (35) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[STADTTOK] [smallint] NOT NULL ,
	[ENDDTTOK] [smallint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD029] (
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VENDORID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DOCTYPE] [smallint] NOT NULL ,
	[DOCNUMBR] [char] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD030] (
	[REMTYPE] [smallint] NOT NULL ,
	[REMITID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SEQNUMBR] [int] NOT NULL ,
	[DISTTYPE] [smallint] NOT NULL ,
	[DSTINDX] [int] NOT NULL ,
	[POSTED] [tinyint] NOT NULL ,
	[POSTEDDT] [datetime] NOT NULL ,
	[DEBITAMT] [numeric](19, 5) NOT NULL ,
	[CRDTAMNT] [numeric](19, 5) NOT NULL ,
	[CURNCYID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CURRNIDX] [smallint] NOT NULL ,
	[ORDBTAMT] [numeric](19, 5) NOT NULL ,
	[ORCRDAMT] [numeric](19, 5) NOT NULL ,
	[DistRef] [char] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TRXSORCE] [char] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DCSTATUS] [smallint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD031] (
	[INQID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SORTBY] [smallint] NOT NULL ,
	[PmntDocIDFrom] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PmntDocIDTo] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[WORKCB1] [tinyint] NOT NULL ,
	[OPEN1] [tinyint] NOT NULL ,
	[HISTORY] [tinyint] NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD032] (
	[USERID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[NonUsedFieldsViewMode] [smallint] NOT NULL ,
	[NOTEINDX] [numeric](19, 5) NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RVLPD033] (
	[CMPANYID] [smallint] NOT NULL ,
	[USERID] [char] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CREATDDT] [datetime] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD001].[EnablePmntDocPM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD001].[EnablePmntDocRM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD001].[KEYNUMBR]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[AssessGLEntryLevel]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[ASSESSPMNTDOCGLACCTIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[CollectGLEntryLevel]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[COLLECTPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[DiscGLEntryLevel]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[DISCPMNTDOCGLACCTIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[KEYNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[NSFPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[RCVDPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[SettleGLEntryLevel]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD002].[SETTLEPMNTDOCGLACCT]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[Collectable]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[DeferredDisc]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[Discountable]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD003].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[PmntDocDescription]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnBankAcct1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnBankAcct2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnCurr1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnCurr2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnDate1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnDate2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnStr1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnStr2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnStr3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnStr4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnStr5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[ReqUserDefnStr6]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD003].[SettleBeforeDueDate]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRBACT2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRCURR1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRCURR2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRDATE1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRDATE2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRSTRG1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRSTRG2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRSTRG3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRSTRG4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRSTRG5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD003].[USRSTRG6]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD004].[CUSTNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD004].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD004].[STMTNAME]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[ASSESSPMNTDOCGLACCTIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[CheckbookFrom]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD005].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[COLLECTPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD005].[CUSTNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[DISCPMNTDOCGLACCTIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD005].[ExceedPmntDocPassword]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD005].[MaxPmntDocAmt]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[MaxPmntDocAmtFrom]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD005].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[NSFPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[PmntDocGLAcctFrom]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD005].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[RCVDPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD005].[SETTLEPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD005].[STMTNAME]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[AssessPmntDocCheckbook]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD006].[ASSESSPMNTDOCGLACCTIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[CollectPmntDocCheckbook]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD006].[COLLECTPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[DISCPMNTDOCCHECKBOOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD006].[DISCPMNTDOCGLACCTIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD006].[DuplicatePmntDocNum]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[ExceedPmntDocPassword]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD006].[MaxPmntDocAmt]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[NextPmntDocNum]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD006].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[NSFPmntDocCheckbook]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD006].[NSFPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD006].[OverridePmntDocNum]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[RcvdPmntDocCheckbook]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD006].[RCVDPMNTDOCGLACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD006].[SettlePmntDocCheckbook]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD006].[SETTLEPMNTDOCGLACCT]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD007].[BCHSOURC]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD007].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD007].[CHEKNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD007].[CUSTNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD007].[DCSTATUS]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD007].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD007].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD007].[RMDTYPAL]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD007].[TRXSORCE]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[CHEKNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD008].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[CUSTNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[CUSTNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD008].[DOCAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD008].[DOCDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD008].[DUEDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD008].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD008].[ORDOCAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD008].[PDOCSTRM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD008].[RMDTYPAL]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[STMTNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[TRXDSCRN]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[TRXSORCE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD008].[UPDATED]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[VALBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[VALBACT2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD008].[VALCURR1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD008].[VALCURR2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD008].[VALDATE1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD008].[VALDATE2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[VALSTRG1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[VALSTRG2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[VALSTRG3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[VALSTRG4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[VALSTRG5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD008].[VALSTRG6]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[CHEKNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD009].[CMRecordNumber]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD009].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[CUSTNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[CUSTNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD009].[DOCAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD009].[DOCDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD009].[DUEDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[MKDBYUSR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD009].[MKTOPROC]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD009].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD009].[ORDOCAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD009].[PDOCSTRM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD009].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD009].[RMDTYPAL]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[STMTNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[TRXDSCRN]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[TRXSORCE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[VALBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[VALBACT2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD009].[VALCURR1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD009].[VALCURR2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD009].[VALDATE1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD009].[VALDATE2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[VALSTRG1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[VALSTRG2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[VALSTRG3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[VALSTRG4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[VALSTRG5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD009].[VALSTRG6]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[CHEKNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD010].[CMRecordNumber]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD010].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[CUSTNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[CUSTNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD010].[DOCAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD010].[DOCDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD010].[DUEDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[MKDBYUSR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD010].[MKTOPROC]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD010].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD010].[ORDOCAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD010].[PDOCSTRM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD010].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD010].[RMDTYPAL]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[STMTNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[TRXDSCRN]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[TRXSORCE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[VALBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[VALBACT2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD010].[VALCURR1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD010].[VALCURR2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD010].[VALDATE1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD010].[VALDATE2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[VALSTRG1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[VALSTRG2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[VALSTRG3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[VALSTRG4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[VALSTRG5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD010].[VALSTRG6]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[ACTINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[BANKACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD011].[CMRecordNumber]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD011].[COMMAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[DESCBOOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD011].[FUNCTAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[MCSTRUCT_1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[MCSTRUCT_10]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[MCSTRUCT_11]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD011].[MCSTRUCT_12]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD011].[MCSTRUCT_13]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[MCSTRUCT_14]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[MCSTRUCT_2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[MCSTRUCT_3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[MCSTRUCT_4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD011].[MCSTRUCT_5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD011].[MCSTRUCT_6]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[MCSTRUCT_7]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD011].[MCSTRUCT_8]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[MCSTRUCT_9]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD011].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[NUMOFTRX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[ORICBOOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD011].[ORIGAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[OrigPmntDocStatus]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD011].[PSTGDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD011].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[REMTSTAT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD011].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD011].[TRXDATE]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD012].[CARRY]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD012].[ENDDTTOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD012].[FIELDTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD012].[HIGHCUR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD012].[HIGHDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD012].[HIGHSTR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD012].[LNITMSEQ]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD012].[LOWCUR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD012].[LOWDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD012].[LOWSTR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD012].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD012].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD012].[RGEAVAIL]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD012].[RNGE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD012].[SETTED]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD012].[SETTEDBY]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD012].[STADTTOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD012].[VALBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD012].[VALBACT2]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD013].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD013].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD013].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD013].[RMDTYPAL]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD014].[CRDTAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD014].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD014].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD014].[DCSTATUS]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD014].[DEBITAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD014].[DistRef]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD014].[DISTTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD014].[DSTINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD014].[ORCRDAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD014].[ORDBTAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD014].[POSTED]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD014].[POSTEDDT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD014].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD014].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD014].[SEQNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD014].[TRXSORCE]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD015].[HISTORY]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD015].[INQID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD015].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD015].[OPEN1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD015].[PmntDocIDFrom]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD015].[PmntDocIDTo]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD015].[SORTBY]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD015].[WORKCB1]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD016].[NonUsedFieldsViewMode]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD016].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD016].[USERID]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD018].[GivePmntDocGLAcctIdx]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD018].[KEYNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD018].[PayGLEntryLevel]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD018].[PayPmntDocGLAcctIdx]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD019].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[PayableBeforeDueDate]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[PmntDocDescription]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnBankAcct1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnBankAcct2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnCurr1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnCurr2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnDate1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnDate2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnStr1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnStr2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnStr3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnStr4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnStr5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD019].[ReqUserDefnStr6]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRBACT2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRCURR1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRCURR2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRDATE1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRDATE2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRSTRG1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRSTRG2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRSTRG3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRSTRG4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRSTRG5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD019].[USRSTRG6]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD020].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD020].[VENDORID]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD021].[CheckbookFrom]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD021].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD021].[ExceedPmntDocPassword]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD021].[GivePmntDocGLAcctIdx]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD021].[MaxPmntDocAmt]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD021].[MaxPmntDocAmtFrom]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD021].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD021].[PayPmntDocGLAcctIdx]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD021].[PmntDocGLAcctFrom]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD021].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD021].[STMTNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD021].[VENDORID]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD022].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD022].[DuplicatePmntDocNum]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD022].[ExceedPmntDocPassword]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD022].[GivePmntDocCheckbook]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD022].[GivePmntDocGLAcctIdx]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD022].[MaxPmntDocAmt]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD022].[NextPmntDocNum]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD022].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD022].[OverridePmntDocNum]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD022].[PayPmntDocCheckbook]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD022].[PayPmntDocGLAcctIdx]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD022].[PMTDOCID]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD023].[BCHSOURC]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD023].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD023].[CNTRLNUM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD023].[CNTRLTYP]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD023].[DCSTATUS]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD023].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD023].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD023].[TRXSORCE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD023].[VENDORID]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[CHEKNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD024].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD024].[DOCAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD024].[DOCDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD024].[DOCTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD024].[DUEDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD024].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD024].[ORDOCAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD024].[PDOCSTPM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[TRXDSCRN]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[TRXSORCE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD024].[UPDATED]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VALBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VALBACT2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD024].[VALCURR1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD024].[VALCURR2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD024].[VALDATE1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD024].[VALDATE2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VALSTRG1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VALSTRG2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VALSTRG3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VALSTRG4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VALSTRG5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VALSTRG6]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VENDNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VENDORID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD024].[VNDCHKNM]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[CHEKNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD025].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD025].[DOCAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD025].[DOCDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD025].[DOCTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD025].[DUEDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[MKDBYUSR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD025].[MKTOPROC]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD025].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD025].[ORDOCAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD025].[PDOCSTPM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD025].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[TRXDSCRN]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[TRXSORCE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VALBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VALBACT2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD025].[VALCURR1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD025].[VALCURR2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD025].[VALDATE1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD025].[VALDATE2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VALSTRG1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VALSTRG2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VALSTRG3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VALSTRG4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VALSTRG5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VALSTRG6]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VENDNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VENDORID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD025].[VNDCHKNM]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[CHEKBKID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[CHEKNMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD026].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD026].[DOCAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD026].[DOCDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD026].[DOCTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD026].[DUEDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[MKDBYUSR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD026].[MKTOPROC]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD026].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD026].[ORDOCAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD026].[PDOCSTPM]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD026].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[TRXDSCRN]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[TRXSORCE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VALBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VALBACT2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD026].[VALCURR1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD026].[VALCURR2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD026].[VALDATE1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD026].[VALDATE2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VALSTRG1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VALSTRG2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VALSTRG3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VALSTRG4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VALSTRG5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VALSTRG6]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VENDNAME]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VENDORID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD026].[VNDCHKNM]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[ACTINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[BANKACCT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD027].[CMRecordNumber]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD027].[COMMAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[DESCBOOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD027].[FUNCTAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[MCSTRUCT_1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[MCSTRUCT_10]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[MCSTRUCT_11]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD027].[MCSTRUCT_12]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD027].[MCSTRUCT_13]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[MCSTRUCT_14]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[MCSTRUCT_2]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[MCSTRUCT_3]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[MCSTRUCT_4]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD027].[MCSTRUCT_5]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD027].[MCSTRUCT_6]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[MCSTRUCT_7]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD027].[MCSTRUCT_8]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[MCSTRUCT_9]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD027].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[NUMOFTRX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[ORICBOOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD027].[ORIGAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[OrigPmntDocStatus]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[PMTDOCID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD027].[PSTGDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD027].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[REMTSTAT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD027].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD027].[TRXDATE]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD028].[CARRY]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD028].[ENDDTTOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD028].[FIELDTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD028].[HIGHCUR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD028].[HIGHDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD028].[HIGHSTR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD028].[LNITMSEQ]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD028].[LOWCUR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD028].[LOWDATE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD028].[LOWSTR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD028].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD028].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD028].[RGEAVAIL]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD028].[RNGE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD028].[SETTED]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD028].[SETTEDBY]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD028].[STADTTOK]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD028].[VALBACT1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD028].[VALBACT2]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD029].[DOCNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD029].[DOCTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD029].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD029].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD029].[VENDORID]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD030].[CRDTAMNT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD030].[CURNCYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD030].[CURRNIDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD030].[DCSTATUS]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD030].[DEBITAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD030].[DistRef]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD030].[DISTTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD030].[DSTINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD030].[ORCRDAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD030].[ORDBTAMT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD030].[POSTED]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD030].[POSTEDDT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD030].[REMITID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD030].[REMTYPE]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD030].[SEQNUMBR]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD030].[TRXSORCE]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD031].[HISTORY]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD031].[INQID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD031].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD031].[OPEN1]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD031].[PmntDocIDFrom]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD031].[PmntDocIDTo]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD031].[SORTBY]'
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD031].[WORKCB1]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD032].[NonUsedFieldsViewMode]'
GO

EXEC sp_bindefault N'[dbo].[GPS_MONEY]', N'[RVLPD032].[NOTEINDX]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD032].[USERID]'
GO

setuser
GO

setuser
GO

EXEC sp_bindefault N'[dbo].[GPS_INT]', N'[RVLPD033].[CMPANYID]'
GO

EXEC sp_bindefault N'[dbo].[GPS_DATE]', N'[RVLPD033].[CREATDDT]'
GO

EXEC sp_bindefault N'[dbo].[GPS_CHAR]', N'[RVLPD033].[USERID]'
GO

setuser
GO

