UPDATE	HMIS.dbo.PM30300
SET		TEN99AMNT = DATA.APFRMAPLYAMT,
		Credit1099Amount = 0
FROM	(
		SELECT	TEN.VENDORID
				,TEN.VCHRNMBR
				,TEN.DOCDATE
				,TEN.APTODCNM
				,TEN.APFRDCNM
				,TEN.APFRMAPLYAMT
				,TEN.TEN99AMNT
				,TEN.Credit1099Amount
				,APH.TEN99AMNT AS APH_TEN99AMNT
				,aph.DEX_ROW_ID
				,APH.DOCTYPE
		FROM	GPCustom.dbo.HMIS_CreditMemos_1099 TEN
				INNER JOIN HMIS.dbo.PM30300 APH ON TEN.VENDORID = APH.VENDORID AND TEN.APTODCNM = APH.APTODCNM AND TEN.APFRDCNM = APH.APFRDCNM
		WHERE	TEN.VENDORID NOT IN ('51703','61816')
		) DATA
WHERE	PM30300.DEX_ROW_ID = DATA.DEX_ROW_ID