/*
EXECUTE USP_Copy_OutstandingRecords 'AIS', '052208DSDRVDD'
EXECUTE USP_Copy_OutstandingRecords 'AIS', '052208DSDRVCK'

EXECUTE USP_Copy_OutstandingRecords 'HMIS','DSDR011118DD'
EXECUTE USP_Copy_OutstandingRecords 'HMIS','DSDR011118CK'
*/
ALTER PROCEDURE [dbo].[USP_Copy_OutstandingRecords]
	@Company	Char(5),
	@BatchId	Char(15),
	@IsTemp		Bit = 0
AS
DELETE	GPCustom.dbo.PM10201 
WHERE	Company = @Company 
		AND BachNumb = @BatchId
		
DELETE	GPCustom.dbo.PM10300 
WHERE	Company = @Company 
		AND BachNumb = @BatchId

INSERT INTO GPCustom.dbo.PM10300 (
		BACHNUMB,
		BCHSOURC,
		PMNTNMBR,
		CHEKBKID,
		DOCDATE,
		DOCNUMBR,
		APPLDAMT,
		CURTRXAM,
		CHEKTOTL,
		VENDORID,
		VENDNAME,
		COMMENT1,
		ADDRESS1,
		ADDRESS2,
		ADDRESS3,
		CITY,
		STATE,
		ZIPCODE,
		COUNTRY,
		VNDCHKNM,
		SOURCDOC,
		DISTKNAM,
		DISAMTAV,
		WROFAMNT,
		CURNCYID,
		VOIDED,
		REPRNTED,
		GSTDSAMT,
		PGRAMSBJ,
		PPSTAXRT,
		PPSAMDED,
		LDOCRMTC,
		SDORMBY,
		KEYFIELD,
		AMWDSNBR,
		NOTEINDX,
		VCHRNMBR,
		CNTRLTYP,
		DOCTYPE,
		MODIFDT,
		MDFUSRID,
		PSTGSTUS,
		POSTEDDT,
		PTDUSRID,
		PMWRKMSG,
		PMWRKMS2,
		PMDSTMSG,
		CHKCOMNT,
		PSTGDATE,
		STRGA255,
		STRGB255,
		SEPRMTNC,
		STBOVRFL,
		CTYSTZIP,
		TotDocAmt,
		TotAmtPaid,
		TotCrdAmt,
		TotalPaidTot,
		TotNegTot,
		TotCrdDocAmt,
		TotTotDocAmt,
		TotDiscTknAmt,
		TotWOAmt,
		TotPPSAmtDed,
		TotGSTDiscAmt,
		TotDiscTknTot,
		TotWOTot,
		Outstanding_Amount,
		Net_Paid_Amount,
		Electronic,
		DEX_ROW_ID,
		AMTINWDS,
		Company,
		IsTemporal)
SELECT	BACHNUMB,
		BCHSOURC,
		PMNTNMBR,
		CHEKBKID,
		DOCDATE,
		DOCNUMBR,
		APPLDAMT,
		CURTRXAM,
		CHEKTOTL,
		VENDORID,
		VENDNAME,
		COMMENT1,
		ADDRESS1,
		ADDRESS2,
		ADDRESS3,
		CITY,
		STATE,
		ZIPCODE,
		COUNTRY,
		VNDCHKNM,
		SOURCDOC,
		DISTKNAM,
		DISAMTAV,
		WROFAMNT,
		CURNCYID,
		VOIDED,
		REPRNTED,
		GSTDSAMT,
		PGRAMSBJ,
		PPSTAXRT,
		PPSAMDED,
		LDOCRMTC,
		SDORMBY,
		KEYFIELD,
		AMWDSNBR,
		NOTEINDX,
		VCHRNMBR,
		CNTRLTYP,
		DOCTYPE,
		MODIFDT,
		MDFUSRID,
		PSTGSTUS,
		POSTEDDT,
		PTDUSRID,
		PMWRKMSG,
		PMWRKMS2,
		PMDSTMSG,
		CHKCOMNT,
		PSTGDATE,
		STRGA255,
		STRGB255,
		SEPRMTNC,
		STBOVRFL,
		CTYSTZIP,
		TotDocAmt,
		TotAmtPaid,
		TotCrdAmt,
		TotalPaidTot,
		TotNegTot,
		TotCrdDocAmt,
		TotTotDocAmt,
		TotDiscTknAmt,
		TotWOAmt,
		TotPPSAmtDed,
		TotGSTDiscAmt,
		TotDiscTknTot,
		TotWOTot,
		Outstanding_Amount,
		Net_Paid_Amount,
		Electronic,
		DEX_ROW_ID,
		AMTINWDS,
		@Company,
		@IsTemp
FROM	PM10300
WHERE	BachNumb = @BatchId

INSERT INTO GPCustom.dbo.PM10201 (
		DiscTknTot,
		NetCkAmt,
		PdTot,
		NegTot,
		CrdDocAmt,
		TotDocAmt,
		WrOffTot,
		CrdtDesc,
		TRXDSCRN,
		PrtOnStb,
		PMNTNMBR,
		KEYFIELD,
		APFVCHNM,
		APTVCHNM,
		APFRDCTY,
		APTODCTY,
		DOCNUMBR,
		DOCDATE,
		AMNTPAID,
		CRDTAMNT,
		DocDueDate,
		DOCAMNT,
		DISCDATE,
		DISTKNAM,
		WROFAMNT,
		PPSAMDED,
		GSTDSAMT,
		CURNCYID,
		Outstanding_Amount,
		Net_Paid_Amount,
		VCHRNMBR,
		DOCTYPE,
		Selected_To_Print,
		DEX_ROW_ID,
		Company,
		BachNumb)
SELECT	DiscTknTot,
		NetCkAmt,
		PdTot,
		NegTot,
		CrdDocAmt,
		TotDocAmt,
		WrOffTot,
		CrdtDesc,
		TRXDSCRN,
		PrtOnStb,
		PMNTNMBR,
		KEYFIELD,
		APFVCHNM,
		APTVCHNM,
		APFRDCTY,
		APTODCTY,
		DOCNUMBR,
		DOCDATE,
		AMNTPAID,
		CRDTAMNT,
		DocDueDate,
		DOCAMNT,
		DISCDATE,
		DISTKNAM,
		WROFAMNT,
		PPSAMDED,
		GSTDSAMT,
		CURNCYID,
		Outstanding_Amount,
		Net_Paid_Amount,
		VCHRNMBR,
		DOCTYPE,
		Selected_To_Print,
		DEX_ROW_ID,
		@Company,
		@BatchId
FROM	PM10201
WHERE	PmntNmbr IN (SELECT PmntNmbr FROM PM10300 WHERE BachNumb = @BatchId)