/*
SELECT TOP 50 * FROM View_Expense_Reporting

EXECUTE USP_FindJournal '185238'
*/
ALTER PROCEDURE [dbo].[USP_FindJournal] (@SearchText Varchar(22))
AS
DECLARE	@IsNumeric	Bit

--SET @SearchText = '157883'
SET		@IsNumeric	= IsNumeric(@SearchText)

IF @IsNumeric = 1
BEGIN
	SELECT	GL.JRNENTRY
			,GL.REFRENCE AS Reference
			,GL.DSCRIPTN
			,GL.TRXDATE
			,GL.ORPSTDDT AS PostDate
			,AC.ACTNUMST AS Account
			,GL.CRDTAMNT
			,GL.DEBITAMT
			,GL.ORGNTSRC
			,COALESCE(PM.CNTRLNUM, UP.CHEKNMBR, SA.DOCNUMBR, CAST(GL.JRNENTRY AS Varchar(12))) AS VchrNmbr
			,CASE WHEN PM.CNTRLNUM IS NOT Null THEN 'AP'
				WHEN SA.DOCNUMBR IS NOT Null THEN 'AR'
				WHEN UP.CHEKNMBR IS NOT Null THEN 'PR'
				ELSE 'GL' END AS TransactionSource
			,'GL20000.DSCRIPTN' AS SourceTable
			,A1.USRDEFS1 AS Category
			,GL.SEQNUMBR
			,PV.ProNumber
			,PV.ChassisNumber
			,PV.TrailerNumber
	FROM	GL20000 GL
			INNER JOIN GL00100 A1 ON GL.ACTINDX = A1.ACTINDX
			INNER JOIN GL00105 AC ON GL.ACTINDX = AC.ACTINDX
			LEFT JOIN PM00400 PM ON GL.ORGNTSRC = PM.TRXSORCE AND GL.SOURCDOC = 'PMTRX' AND GL.ORGNTSRC <> ''
			LEFT JOIN UPR30100 UP ON GL.ORGNTSRC = UP.AUCTRLCD
			LEFT JOIN RM00401 SA ON GL.ORGNTSRC = SA.TRXSORCE AND GL.SOURCDOC IN ('GJ', 'SJ','CRJ') AND GL.ORGNTSRC <> ''
			LEFT JOIN GPCustom.dbo.Purchasing_Vouchers PV ON COALESCE(PM.CNTRLNUM, UP.CHEKNMBR, SA.DOCNUMBR, CAST(GL.JRNENTRY AS Varchar(12))) = PV.VoucherNumber AND CASE WHEN PM.CNTRLNUM IS NOT Null THEN 'AP' WHEN SA.DOCNUMBR IS NOT Null THEN 'AR' WHEN UP.CHEKNMBR IS NOT Null THEN 'PR' ELSE 'GL' END = PV.Source AND GL.SOURCDOC = 'PMTRX'
	WHERE	GL.JRNENTRY = @SearchText
	UNION
	SELECT	GL.JRNENTRY
			,GL.REFRENCE AS Reference
			,GL.DSCRIPTN
			,GL.TRXDATE
			,GL.ORPSTDDT AS PostDate
			,AC.ACTNUMST AS Account
			,GL.CRDTAMNT
			,GL.DEBITAMT
			,GL.ORGNTSRC
			,COALESCE(PM.CNTRLNUM, UP.CHEKNMBR, SA.DOCNUMBR, CAST(GL.JRNENTRY AS Varchar(12))) AS TransactionId
			,CASE WHEN PM.CNTRLNUM IS NOT Null THEN 'AP'
				WHEN SA.DOCNUMBR IS NOT Null THEN 'AR'
				WHEN UP.CHEKNMBR IS NOT Null THEN 'PR'
				ELSE 'GL' END AS TransactionSource
			,'GL30000.DSCRIPTN' AS SourceTable
			,A1.USRDEFS1 AS Category
			,GL.SEQNUMBR
			,PV.ProNumber
			,PV.ChassisNumber
			,PV.TrailerNumber
	FROM	GL30000 GL
			INNER JOIN GL00100 A1 ON GL.ACTINDX = A1.ACTINDX
			INNER JOIN GL00105 AC ON GL.ACTINDX = AC.ACTINDX
			LEFT JOIN PM00400 PM ON GL.ORGNTSRC = PM.TRXSORCE AND GL.SOURCDOC = 'PMTRX' AND GL.ORGNTSRC <> ''
			LEFT JOIN UPR30100 UP ON GL.ORGNTSRC = UP.AUCTRLCD
			LEFT JOIN RM00401 SA ON GL.ORGNTSRC = SA.TRXSORCE AND GL.SOURCDOC IN ('GJ', 'SJ','CRJ') AND GL.ORGNTSRC <> ''
			LEFT JOIN GPCustom.dbo.Purchasing_Vouchers PV ON COALESCE(PM.CNTRLNUM, UP.CHEKNMBR, SA.DOCNUMBR, CAST(GL.JRNENTRY AS Varchar(12))) = PV.VoucherNumber AND CASE WHEN PM.CNTRLNUM IS NOT Null THEN 'AP' WHEN SA.DOCNUMBR IS NOT Null THEN 'AR' WHEN UP.CHEKNMBR IS NOT Null THEN 'PR' ELSE 'GL' END = PV.Source AND GL.SOURCDOC = 'PMTRX'
	WHERE	GL.JRNENTRY = @SearchText
	ORDER BY 1
END

/*
select * from gl00100
SELECT * FROM UPR30100 WHERE AUCTRLCD = 'UPRCC00000005'
SELECT TOP 500 * FROM GL30000 WHERE JRNENTRY = 167650
SELECT * FROM RM00401
157883
*/