CREATE VIEW [dbo].[View_Expense_Reporting_Open]
AS
SELECT	GL20000.JrnEntry AS Test,
		GL00100.USRDEFS1 AS Category, 
		GL20000.ORGNTSRC,
		CONVERT(DateTime, GL20000.TRXDATE, 101) AS EffDate, 
		CASE WHEN GL20000.ORDOCNUM = '' OR GL20000.ORDOCNUM IS Null THEN CAST(GL20000.JRNENTRY AS Char(10)) ELSE GL20000.ORDOCNUM END AS DocNumber, 
		CASE WHEN PM30600.DISTREF = '' OR PM30600.DISTREF IS Null THEN CASE WHEN PM30200.TRXDSCRN = '' OR PM30200.TRXDSCRN IS Null THEN GL20000.DSCRIPTN ELSE PM30200.TRXDSCRN END
		ELSE COALESCE(PM30600.DISTREF, PM30200.TRXDSCRN, GL20000.DSCRIPTN) END AS Reference, 
		GL00100.ACTNUMBR_1 AS Acct1, 
		GL00100.ACTNUMBR_2 AS Acct2, 
		GL00100.ACTNUMBR_3 AS Acct3, 
		RTRIM(GL00100.ACTNUMBR_1) + '-' + RTRIM(GL00100.ACTNUMBR_2) + '-' + GL00100.ACTNUMBR_3 AS Account,
		GL00100.ACTDESCR AS AcctDescription, 
		GL00100.ACTALIAS,
		GL20000.CRDTAMNT, 
		GL20000.DEBITAMT,
		ISNULL(PM30200.VCHRNMBR, CAST(GL20000.JRNENTRY AS Char(20))) AS VoucherNo,
		ISNULL(RTRIM(CAST(VEND1.VendorId AS Char(10))) + '-' + VEND1.VENDSHNM, 'General Ledger') AS Vendor,
		ISNULL(PM30200.DOCDATE, GL20000.TRXDATE) AS DOCDATE,
		PM30200.VOIDPDATE,
		GL20000.JRNENTRY,
		ISNULL(PM30200.VOIDED, GL20000.VOIDED) AS VOIDED,
		PV.ProNumber,
		UPPER(PV.TrailerNumber) AS TrailerNumber,
		UPPER(PV.ChassisNumber) AS ChassisNumber,
		CASE WHEN PM30600.DISTREF = '' OR PM30600.DISTREF IS Null THEN GL20000.SEQNUMBR ELSE PM30600.DSTSQNUM END AS SEQNUMBR,
		CASE WHEN PM30600.DISTREF = '' OR PM30600.DISTREF IS Null THEN CASE WHEN PM30200.TRXDSCRN = '' OR PM30200.TRXDSCRN IS Null THEN 'GL20000.DSCRIPTN' ELSE 'PM30200.TRXDSCRN' END ELSE 'PM30600.DISTREF' END AS SourceTable,
		COALESCE(PM30200.VchrNmbr, PM30600.VchrNmbr, CAST(GL20000.JRNENTRY AS Char(10))) AS VchrNmbr,
		PM30600.DistType
FROM 	GL20000 
		INNER JOIN GL00100 ON GL20000.ACTINDX = GL00100.ACTINDX
		LEFT JOIN PM30600 ON GL20000.OrcTrnum = PM30600.VchrNmbr AND GL20000.ORGNTSRC = PM30600.TRXSORCE AND GL20000.ORIGSEQNUM = PM30600.DSTSQNUM AND LEFT(GL20000.SOURCDOC, 2) = 'PM'
		LEFT JOIN PM30200 ON PM30600.VchrNmbr = PM30200.VchrNmbr AND PM30600.TRXSORCE = PM30200.TRXSORCE AND PM30200.VOIDED = 0
		LEFT JOIN GPCustom.dbo.Purchasing_Vouchers PV ON PM30600.VchrNmbr = PV.VoucherNumber AND LEFT(PM30600.TRXSORCE, 5) = 'PMTRX' AND PV.CompanyId = DB_NAME() AND PM30600.DistType = 6
		LEFT JOIN PM00200 VEND1 ON PM30200.VendorId = VEND1.VendorId
WHERE 	GL20000.Voided = 0 AND
		((LEFT(GL20000.SOURCDOC, 2) = 'PM' AND PM30600.VchrNmbr IS NOT Null) OR
		(LEFT(GL20000.ORTRXSRC, 5) IN ('GLTRX','GLREV') AND LEFT(GL20000.SOURCDOC, 2) <> 'PM'))
UNION
SELECT	GL20000.JrnEntry AS Test,
		GL00100.USRDEFS1 AS Category, 
		GL20000.ORGNTSRC,
		CONVERT(DateTime, GL20000.TRXDATE, 101) AS EffDate, 
		CASE WHEN GL20000.ORDOCNUM = '' THEN CAST(GL20000.JRNENTRY AS Char(10)) ELSE GL20000.ORDOCNUM END AS DocNumber, 
		CASE WHEN PM10100.DISTREF = '' THEN GL20000.DSCRIPTN ELSE ISNULL(PM10100.DISTREF, GL20000.DSCRIPTN) END AS Reference, 
		GL00100.ACTNUMBR_1 AS Acct1, 
		GL00100.ACTNUMBR_2 AS Acct2, 
		GL00100.ACTNUMBR_3 AS Acct3, 
		RTRIM(GL00100.ACTNUMBR_1) + '-' + RTRIM(GL00100.ACTNUMBR_2) + '-' + GL00100.ACTNUMBR_3 AS Account,
		GL00100.ACTDESCR AS AcctDescription,
		GL00100.ACTALIAS,
		GL20000.CRDTAMNT, 
		GL20000.DEBITAMT,
		COALESCE(PM20000.VCHRNMBR, PM20000.VCHRNMBR, CAST(GL20000.JRNENTRY AS Char(20))) AS VoucherNo,
		ISNULL(RTRIM(CAST(VEND1.VendorId AS Char(10))) + '-' + VEND1.VENDSHNM, 'General Ledger') AS Vendor,
		ISNULL(PM20000.DOCDATE, GL20000.TRXDATE) AS DOCDATE,
		NULL,
		GL20000.JRNENTRY,
		ISNULL(PM20000.VOIDED, GL20000.VOIDED) AS VOIDED,
		PV.ProNumber,
		UPPER(PV.TrailerNumber) AS TrailerNumber,
		UPPER(PV.ChassisNumber) AS ChassisNumber,
		CASE WHEN PM10100.DISTREF = '' OR PM10100.DISTREF IS Null THEN GL20000.SEQNUMBR ELSE PM10100.DSTSQNUM END AS SEQNUMBR,
		CASE WHEN PM10100.DISTREF = '' OR PM10100.DISTREF IS Null THEN 'GL20000.DSCRIPTN' ELSE 'PM10100.DISTREF' END AS SourceTable,
		COALESCE(PM10100.VchrNmbr, PM20000.VchrNmbr, CAST(GL20000.JRNENTRY AS Char(10))) AS VchrNmbr,
		PM10100.DistType
FROM 	GL20000 
		INNER JOIN GL00100 ON GL20000.ACTINDX = GL00100.ACTINDX
		LEFT JOIN PM10100 ON GL20000.OrcTrnum = PM10100.VchrNmbr AND GL20000.ORGNTSRC = PM10100.TRXSORCE AND GL20000.ORIGSEQNUM = PM10100.DSTSQNUM AND LEFT(GL20000.SOURCDOC, 2) = 'PM'
		LEFT JOIN PM20000 ON PM10100.VchrNmbr = PM20000.VchrNmbr AND PM10100.TRXSORCE = PM20000.TRXSORCE
		LEFT JOIN GPCustom.dbo.Purchasing_Vouchers PV ON PM10100.VchrNmbr = PV.VoucherNumber AND LEFT(PM10100.TRXSORCE, 2) = 'PM' AND PV.CompanyId = DB_NAME() AND PM10100.DistType = 6
		LEFT JOIN PM00200 VEND1 ON PM20000.VendorId = VEND1.VendorId
WHERE 	GL20000.Voided = 0 AND
		((LEFT(GL20000.SOURCDOC, 2) = 'PM' AND PM10100.VchrNmbr IS NOT Null) OR
		(LEFT(GL20000.ORTRXSRC, 5) IN ('GLTRX','GLREV','SLSTE','UPRPE','ICTRX')))

/*
select top 10 * from View_Expense_Reporting_Open WHERE EFFDATE BETWEEN '1/1/2009' AND '4/1/2009'
*/